asgiref==3.9.1
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.8
coverage==7.8.0
cryptography==45.0.7
distlib==0.4.0
Django==5.2.6
djangorestframework==3.16.1
django-environ==0.12.0
dnspython==2.7.0
filelock==3.19.1
idna==3.10
iniconfig==2.1.0
markdown-it-py==3.0.0
maskpass==0.3.7
mdurl==0.1.2
mongoengine==0.29.1
numpy==2.2.5
packaging==25.0
pandas==2.2.3
platformdirs==4.4.0
pluggy==1.5.0
Pygments==2.19.1
pymongo==3.11.4
pymysql==1.1.2
pynput==1.8.1
pytest==8.3.5
pytest-cov==6.1.1
pytest-mock==3.14.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.32.3
rich==14.0.0
shellingham==1.5.4
six==1.16.0
sqlparse==0.5.3
stevedore==5.5.0
typer==0.15.2
typing_extensions==4.13.2
tzdata==2023.3
urllib3==1.26.15
virtualenv==20.34.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.1
